@import url(http://fonts.googleapis.com/css?family=Roboto);

$rounded-corners: 4px;
$primary-gray: #999;

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
}

$viewer-height: 600px;
.section-hero {
  position: relative;
  display: block;
  width: 100%;
  height: $viewer-height;

  @media (max-height: $viewer-height) {
    height: 400px;
  }

  .container {
    height: 100%;
    pointer-events: none;
  }

  #viewer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.viewer-expanded {
      z-index: 1;
      position: fixed;
      width: 100vw;
      height: 100vh;
    }
  }

  .topbar {
    h1 {
      margin: 0;
      margin-top: 4rem;
    }
    .links {
      pointer-events: auto;
      text-align: right;
      margin-top: 4.5rem;
      paper-button {
        background: white;
      }
      @media (max-width: 550px) {
        display: none;
      }
    }
  }
}

$viewermenu-height: 500px;
$viewermenu-push: 28px;
#viewermenu {
  pointer-events: none;
  height: $viewermenu-height;
  margin-top: -$viewermenu-height + $viewermenu-push;
  margin-bottom: -$viewermenu-push;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .panels {
    position: relative;
    width: 30rem;
    height: 40rem;

    @media (max-width: 550px) {
      width: 100%;
    }

    .panel {
      pointer-events: auto;
      position: absolute;
      width: 100%;
      bottom: 0;
      box-sizing: border-box;

      background: white;
      border-radius: $rounded-corners;
      padding: 1rem;

      paper-slider {
        display: block;
        width: 100%;
      }

      .line {
        margin-bottom: 1rem;

        .label {
          margin-left: 1rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      margin-bottom: 5rem;
      opacity: 0.0;
      transition: opacity 0.5s, margin-bottom 0.5s;

      &.show {
        opacity: 1.0;
        margin-bottom: 0;
      }
      &.dnone {
        margin-left: -100vw;
      }
    }

    .panel.lighting {
      padding: 0;
      paper-item {
        min-height: 4rem;
        cursor: pointer;
      }
    }
  }

  .toolbar {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    paper-fab {
      pointer-events: auto;
      background: white;
      color: $primary-gray;
      margin-left: 2rem;
    }

    .cmd {
      opacity: 0.0;
      margin-right: -76px;
      transition: opacity 0.5s, margin-right 0.5s;
    }
  }

  &.viewer-expanded {
    z-index: 1;
    position: fixed;
    width: 100%;
    max-width: none;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;

    .toolbar {
      .cmd {
        opacity: 1.0;
        margin-right: 0;
      }
    }
  }
}

.section-gallery {
  padding-top: 6rem;
  margin-bottom: -4rem;

  background: #00BCD4;

  h1 {
    color: white;
  }

  .card {
    background: white;
    margin-bottom: 2rem;
    cursor: pointer;

    border-radius: $rounded-corners;
    overflow: hidden;

    height: 18rem;
    display: flex;
    flex-direction: column;

    .label {
      background: #EEE;
      padding: 1rem;
      display: flex;
      > span {
        flex-grow: 1;
      }
      > iron-icon {
        color: $primary-gray;
        &:hover {
          color: #1EAEDB;
        }
      }
    }

    .img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      flex-grow: 1;
    }
  }
}

.section-footer {
  background: white;
  padding: 8rem 0;
  height: 15rem;
  color: $primary-gray;
}

.section-test {
  .page {
    height: 20rem;
  }
}